<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog da ENETEC</title>
  <meta name="description" content="{{ page.description }}">
  <link rel="shortcut icon" href="/blog/assets/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="/blog/assets/fonts/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/blog/assets/css/main.css">
</head>
