<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <a href="#hero">
        <img id="myImage" src="/blog/assets/images/logo-header.png" alt="" title="" /></img>
      </a>
      <!-- Uncomment below if you prefer to use a text logo -->
      <!--<h1><a href="#hero">Regna</a></h1>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">

        <li>
          <a href="../../../#">Início</a>
        </li>
        <li class="menu-has-children">
          <a href="">Serviços</a>
          <ul>
            <li class="menu-has-children">
              <a style="pointer-events: none; cursor: pointer;">Fotovoltaica</a>
              <ul>
                <li>
                  <a href="../../../simulador/index.html">Simulador de Placas Solares</a>
                </li>
              </ul>
              <li class="menu-has-children">
                <a style="pointer-events: none; cursor: pointer;">Instalações</a>
                <ul>
                  <li>
                    <a href="../../../instalacoes/instala.html">Projetos</a>
                  </li>
                  <li>
                    <a href="../../../instalacoes/spda.html">Sistemas de proteção a Descarga atmosférica</a>
                  </li>
                  <li>
                    <a href="../../../instalacoes/normas.html">Adequação às normas</a>
                  </li>
                </ul>

                <li class="menu-has-children">
                  <a style="pointer-events: none; cursor: pointer;">Eficiência</a>
                  <ul>
                    <li>
                      <a href="../../../eficiencia/lumino.html">Luminotécnico</a>
                    </li>
                    <li>
                      <a href="../../../eficiencia/analise.html">Análise de conta de luz</a>
                    </li>
                    <li>
                      <a href="../../../eficiencia/analise.html">Análise de qualidade de energia</a>
                    </li>
                  </ul>
                </li>

          </ul>
          <li class="menu-has-children">
            <a href="">E-books</a>
            <ul>
              <li>
                <a href="../../../landing/index.html">8 ideias de como economizar em casa</a>
              </li>
              <li>
                <a href="../../../landing2/index.html">Guia de iluminação</a>
              </li>
              <li>
                <a href="../../../landing/index3.html">Como proteger suas instalações elétricas</a>
              </li>
            </ul>
          </li>
          <li>
            <!--  <a href="port.html">Portfólio</a> -->
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
          <li>
            <a href="../../../#contact">Contato</a>
          </li>
          <li>
            <a href="../../../about/index.html">Sobre Nós</a>
          </li>
      </ul>
    </nav>
    <!-- #nav-menu-container -->
  </div>
</header>
