<header class="site-header">
  <button class="toggle_menu">
    <span class="sandwich">
      <span class="sw-topper"></span>
      <span class="sw-bottom"></span>
      <span class="sw-footer"></span>
    </span>
  </button>
  <nav class="top_menu">
    <ul>
       <li class="main-items"><a href="#">Home</a></li>
      <li class="main-items"><a href="http://enetec.unb.br/">Site da ENETEC</a></li>
      <li class="main-items"><a href="http://enetec.unb.br/#sobre">Sobre</a></li>
          <li class="main-items"><a href="http://enetec.unb.br/#servicos">Serviços</a></li>
          <li class="main-items"><a href="http://enetec.unb.br/#portfolio">Portfólio</a></li>
      <li class="main-items"><a href="http://enetec.unb.br/#contato">Contato</a></li>
    </ul>
  </nav>
  <div class="header-content">
    <div class="logo">
     <img src="/blog/assets/images/logo.png" style="width:220px; height:69px; "> 
      <a href="" class="logo-link">
      </a>
    </div>
  </div>
</header>
