<!-- Jquery -->
<script src="/blog/assets/lib/wow/wow.min.js"></script>
<script src="/blog/assets/lib/jquery/jquery.min.js"></script>
<script src="/blog/assets/lib/jquery/jquery-migrate.min.js"></script>
<script src="/blog/assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/blog/assets/lib/easing/easing.min.js"></script>
<script src="/blog/assets/lib/waypoints/waypoints.min.js"></script>
<script src="/blog/assets/lib/counterup/counterup.min.js"></script>
<script src="/blog/assets/lib/superfish/hoverIntent.js"></script>
<script src="/blog/assets/lib/superfish/superfish.min.js"></script>
<!-- Main Js -->
<script src="/blog/assets/js/main.js"></script>
<script src="/blog/assets/js/main2.js"></script>

